[includeIf "gitdir:~/projects/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/work/"]
    path = .gitconfig-work
[http]
	sslVerify = false
	postBuffer = 1048576000
[https]
	postBuffer = 1048576000
[core]
	editor = vim
    excludesfile = ~/.gitignore-global
	autocrlf = input
    pager = delta
[delta]
    navigate = ture  # use n and N to move between diff sections
[alias]
	graph = log --all --graph --decorate --oneline
	unstage = reset HEAD --
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	visual = !gitk
[difftool]
    # disables the annoying prompt so whenever you hit 
    # git difftool it will automatically launch the difftool
    prompt = true
[diff]
	tool = bc
    colorMoved = default
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "bc"]
	trustExitCode = true
[pull]
	rebase = true
[credential]
	useHttpPath = true
[merge]
    conflictstyle = diff3
[icdiff]
	options = --highlight --line-numbers
